torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
whisperx==3.8.6
transformers==4.57.6
av==16.0.1
librosa==0.11.0
soundfile==0.13.1
demucs==4.0.1
beat-this==1.1.0
all-in-one-infer==3.1.0
imageio-ffmpeg==0.6.0
numpy>=2.1,<2.3
